html {
    box-sizing: border-box;
    color: seashell;
    font-family: Helvetica;
}

body { 
    background-color: black;
    font-size: 22px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
}

.logo {
    width: 9.375rem;
    height: 3.125rem;
}

nav {
    display: inline;
    position: relative;
    float: right;
    bottom: 3.125rem;
}

nav ul {
	margin-left: 0;
    padding: 0.35rem 0.625rem;

}

nav li {
	list-style-type: none;
    padding: 4px 4px;
    display: inline-block;
}

nav a {
    color: seashell;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(255, 64, 0);
    padding: 4px 2px;
    
    color: black;
}

.mission {
    position: relative;
}

.mission img {
    position: relative;
    height: 700px;
    width: 100%; 
}

.mission-content {
    position: absolute;
    text-align: center;
    background-color: black;
    width: 100%;
    bottom: 150px;
}

.tea-article {
    text-align: center;
}

.tea {
    display: grid;
    margin: 0 10px;
}

.tea .tea-grid {
    display: grid;
    grid-gap: 0.125rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.tea img {
    height: 12.5rem;
    width: 18.75rem;
}

.the-tea-cozy {
    background: url(img-locations-background.jpg)
}

.the-tea-cozy {
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 420px;
    width: 100%;
}

.grid {
    position: relative;
    display: inline;
    margin: 0rem;

}

.downtown {
    display: inline-block;
    background-color: black;
    text-align: center;
    height: 16rem;
    width: 12rem;
    margin: 0 100px;
    font-size: 1rem;
    align-items: center;
}

footer .contact {
    text-align: center;
}

@media(max-width: 768px) {
    nav li {
        display: inline;
        position: relative;
        float: right;
        top: 150px;
        right: 30px;
        margin: 0 20px;
    }

    .logo {
        width: 9.375rem;
        height: 0.063rem;
        margin: 0 120px;
    }

    header {
        height: 200px;
        width: 100%;
    }

    .tea img {
        height: 8.5rem;
        width: 9.75rem;
    }

    .tea .tea-grid {
        display: grid;
        grid-gap: 0.125rem;
        grid-template-columns: 1fr 1fr;
    }

    .downtown {
        display: inline-block;
        background-color: black;
        text-align: center;
        height: 12rem;
        width: 9rem;
        margin: 0 3px;
        font-size: 1rem;
        align-items: center;
    }

    .grid {
        position: relative;
        display: inline-flex;
        margin: 0.125rem;
    }
}

@media(min-width: 600px) {
    .tea img {
        height: 12.5rem;
        width: 17.75rem;
    }

    .tea .tea-grid {
        display: grid;
        grid-gap: 0.125rem;
        grid-template-columns: 1fr 1fr;
    }

    .downtown {
        display: block;
        background-color: black;
        text-align: center;
        height: 15rem;
        width: 12rem;
        margin: 0 10px;
        font-size: 1rem;
        align-items: center;
    }

    .grid {
        position: relative;
        display: inline-flex;
    }

}

@media(min-width: 992px) {
    .tea {
        display: grid;
        margin: 0 10px; 
    }
    .tea img {
        height: 15.5rem;
        width: 17.75rem;
    }

    .tea .tea-grid {
        display: grid;
        grid-gap: 0.125rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .downtown {
        display: block;
        background-color: black;
        text-align: center;
        height: 15rem;
        width: 12rem;
        margin: 0 60px;
        font-size: 1rem;
        align-items: center;
    }

    .grid {
        position: relative;
        display: inline-flex;
        margin: 0 0.125rem;
    }
}
